<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072549013512-6aut479jnfkkiqg653cj69t43n4vhl5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072549013512-6aut479jnfkkiqg653cj69t43n4vhl5g</string>
	<key>API_KEY</key>
	<string>AIzaSyDYG1IPmCg9CneBlRwZuPZ5BDQROCmTvNo</string>
	<key>GCM_SENDER_ID</key>
	<string>1072549013512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doip.ABCYouth</string>
	<key>PROJECT_ID</key>
	<string>abc-youth</string>
	<key>STORAGE_BUCKET</key>
	<string>abc-youth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072549013512:ios:10e1b81873706f0a81c9bd</string>
	<key>DATABASE_URL</key>
	<string>https://abc-youth-default-rtdb.firebaseio.com</string>
</dict>
</plist>